.card-blog-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 20rem;
    border: none;
    margin: 5px 20px;
    align-items: center;

    .card-body {
      width: 100%;
      .date-text {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: flex;
          color: red;
          h5 {
            bottom: 0;
          }
        }
      }
      .card-title {
        text-transform: uppercase;
      }
      .text-description {
        font-size: 20px;
      }
      button {
        font-size: 15px;
        width: 10vw;
        height: 10vh;
        margin-top: 10px;
        background: #efefef;
        border: none;
        text-transform: uppercase;
        color: #6c6f7a;
        font-weight: 500;
        border-radius: 20px;
        line-height: 45px;
      }
    }
  }
}
