.login-container {
  display: flex;

  .login-background-content {
    background: url(https://demos.creative-tim.com/material-kit-pro-react/static/media/illustration-reset.c5f36c0c.jpg) transparent;
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    max-width: 50%;
    margin: 15px;
    border-radius: 10px;
  }

  .login-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    max-width: 50%;
    margin-left: 16px;
    margin-top: 16px;
  }

}