.dropdown-customer-container {

  .btn-customer {
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: auto;
    cursor: pointer;

  }

  .dropdown-item {
    font-size: 20px;
  }



}