* {
  margin: 0;
  padding: 0;
}

.dropdown-customer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-customer {
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: auto;
    cursor: pointer;
    font-size: 20px;
  }
}
