.app-container {
  .navbar-content {
    height: 100%;
    font-size: 2rem;
    font-weight: 500;
  }

  .App {
    width: 85vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(1, 1, 1, 0.05);
  }
}