.header-top-container {
    background: url(https://aero-theme.myshopify.com/cdn/shop/files/slider3-aero3-1920x943_1920x846.progressive.jpg?v=1613507176) center;

    .header-top-content {
        .header-top-title {
            text-transform: uppercase;
            font-weight: 500;
            color: white;
        }
    }
}