.carousel {
  .carousel-inner {
    .carousel-item {
      border-radius: 20px;

      .img-fluid {
        object-fit: contain;
        border-radius: 20px;
      }
    }
  }

  .carousel-indicators {
    li {
      &::marker {
        display: none;
        color: transparent;
      }
    }
  }
}
