.header-container {
  display: flex;
  text-align: center;
  font-size: 25px;
  margin: 0 auto 10px auto;
  padding: 20px;
  color: white;
  background: #22232b;
  position: sticky;
  top: 0;
  z-index: 2;

  .header-left-content {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-title {
      font-weight: 500px;
      text-decoration: none;
      color: white;
    }
  }

  .header-center-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right-content {
    width: 30%;
    display: flex;

    .header-one-content {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-content {
        padding-bottom: 5px;
        display: flex;

        .icon-search {
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
        }

        .search-form {
          font-size: 20px;
          width: 90%;
          border: none;
          outline: none;
          transition: 0.5s;
          background: transparent;
          border-bottom: 2px solid white;
          color: white;
        }
      }
    }

    .header-two-content {
      width: 25%;
      right: 0;
    }
  }
}
