.card-container {
  width: 40vw;
  margin: 25px 5px;

  .card {
    background: transparent;
    color: #6c6f7a;
    border: none;

    .img-fluid {
      border-radius: 20px;
    }

    .card-body {
      .fw-bold {
        color: red;
      }

      .btn-group {
        width: 15vw;
        display: flex;
        justify-content: space-between;
        .btn-cart {
          border: #0d6efd solid 3px;
          color: white;
          &:hover {
            background-color: #0d6efd;
          }
        }
        .btn-wishlist {
          border: #ff0000 solid 3px;
          color: white;
          &:hover {
            background-color: #ff0000;
          }
        }
      }
    }
  }
}
