.footer-container {
  //   width: 85vw;
  height: 60vh;
  background: url(https://aero-theme.myshopify.com/cdn/shop/files/bkg_footer_c0f71867-38e3-492b-995f-7d0269b97db1.jpg?v=1625767911)
    transparent;
  color: white;
  .footer-content {
    object-fit: cover;
  }
}
