.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  ul {
    list-style: none;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    li {
      &:hover {
        border-bottom: greenyellow solid 2px;
      }
      &.active {
        border-bottom: greenyellow solid 2px;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
