.navbar-container {
  border: solid red 2px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 2rem;
  padding: 0 2rem;
  align-items: stretch;

  .navbar-title {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    li {
      &:hover {
        background-color: green;
      }
      &.active {
        background-color: #555;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0.25rem;
      font-size: 2rem;
    }
  }
}
