.card-container {
  width: 40vw;
  margin: 25px 5px;
  .card {
    .img-fluid {
      border-radius: 20px;
    }
    .card-body {
      .fw-bold {
        color: red;
      }
      .rounded {
        color: none !important;
      }
    }
    button {
      width: 10vw;
    }
  }
}
