.module-title-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5vh;
  font-size: 25px;

  .module-title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 70px;
    border: solid 5px #efefef;
    border-radius: 20px;

    .icon-star {
      margin: 0 auto;
    }
  }
}
