.owl-carousel-container {
  width: 81vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .owl-carousel-content {
    .card-list-carousel {
      background-color: transparent !important;
      color: white !important;
    }
  }
}
